<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EjemploRest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
   <servlet>
	<servlet-name>JAXRSServlet</servlet-name>
	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	<init-param>
		<param-name>jersey.config.server.provider.packages</param-name>
		<param-value>ar.edu.ubp.das.resources</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>JAXRSServlet</servlet-name>
	<url-pattern>/api/*</url-pattern>
  </servlet-mapping> 
  <filter>
  	<filter-name>CorsFilter</filter-name>
  	<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  	<init-param>
       <param-name>cors.allowed.origins</param-name>
       <param-value>*</param-value>
  	</init-param>
  	<init-param>
     <param-name>cors.allowed.methods</param-name>
     <param-value>GET, POST, DELETE, PUT, OPTIONS, HEAD</param-value>
  	</init-param>
  	<init-param>
      <param-name>cors.allowed.headers</param-name>
      <!-- add the headers here, that you want to read from REQUEST -->
      <param-value>Origin,Accept,X-Requested-With,Content-Type,Access-Control-Request-Method,Access-Control-Request-Headers,Authorization</param-value>
  	</init-param>
  	<init-param>
      <param-name>cors.exposed.headers</param-name>
      <!-- add the headers here, that you want to WRITE in the RESPONSE -->
      <param-value></param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CorsFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <env-entry> 
    <env-entry-name>DaoFactoryPrefix</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>MS</env-entry-value> 
  </env-entry> 
  <env-entry> 
    <env-entry-name>ProviderName</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</env-entry-value> 
  </env-entry> 
  <env-entry> 
    <env-entry-name>ConnectionString</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>jdbc:sqlserver://127.0.0.1:1433;databaseName=Search;user=sa;password=reallyStrongPwd123</env-entry-value> 
  </env-entry> 
</web-app>